//ブログ本体のスタイル

.main {
  width: 88%;
  margin: auto;
  max-width: 32rem;
}

.title {
  font-size: 1.6rem;
}

.publishedAt {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}
//下書き用
.createdAt {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}
.category {
  display: inline-block;
  border-radius: 5px;
  background-color: #dbe2ec;
  margin-top: 32px;
  margin-left: 16px;
  font-size: 16px;
  color: #5f6c84;
  //上下と左右を指定
  padding: 0px 4px;
}

.post {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    // padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    font-size: 16px;
    padding: 16px 0px;
    line-height: 1.8;
    color: var(--color-accents-1);
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  & > ul {
    font-size: 16px;
    margin: 0;
  }
  & > div {
    padding: 16px;
  }
}
