html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap: 1rem;
  --gap-double: 2rem;

  --bg: #fff;
  --fg: #000;
  --accents-1: #111;
  --accents-2: #333;
  --accents-3: #888;
  --geist-foreground: #000;

  --radius: 8px;

  --font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

body {
  min-height: 100vh;
  background: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;

  /* Hack */
  overflow-x: hidden;
}

.links {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .feature div {
    flex-basis: auto;
    padding-left: 0;
  }

  .feature h4 {
    font-size: 0.75rem;
  }
}

a {
  color: #0070f3;
  text-decoration: none;
}
a:hover {
  color: #3291ff;
}

.links {
  margin-top: var(--gap);
}

.title {
  text-align: center;
}

.logo :global(svg) {
  max-width: calc(100vw - var(--gap-double));
}

h1 {
  margin: var(--gap-double) 0 calc(0.5 * var(--gap)) 0;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

h2 {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: -0.02rem;
  color: var(--color-accents-3);
}

p {
  color: #888;
  font-weight: 400;
  font-size: 0.94rem;
  line-height: 1.7;
}
ul {
  color: #888;
}

@media (max-width: 600px) {
  h2 {
    font-size: 0.95rem;
    letter-spacing: 0;
  }
}

footer {
  padding: 2em 0;
  text-align: center;
}

footer span {
  color: #777777;
  font-size: 16px;
}

/*Dark Theme用に指定*/
:root {
  --color-text: #000;
  --color-accents-1: #111;
  --color-accents-2: #777777;
  --color-accents-3: #888;
  --color-accents-4: #5f6c84;
  --color-bg: #fff;
  --color-code-bg: #fafafa;
  --color-border: #eaeaea;
  --color-link: #dee1e7;
}
:root[data-theme='dark'] {
  --color-text: #fff;
  --color-accents-1: #fff;
  --color-accents-2: #fff;
  --color-accents-3: #fff;
  --color-accents-4: #fff;
  --color-bg: #000;
  --color-code-bg: #2d2d2d;
  --color-border: #dfdfdf;
  --color-link: #181f2a;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
* {
  box-sizing: border-box;
}

button {
  padding: 3px;
  height: 40px;
  width: 40px;
  border: 0;
  cursor: pointer;
  background-color: var(--color-link);
  border-radius: 3px;
}
