.header {
  width: 88%;
  max-width: 32rem;
  min-height: 32px;
  padding: 2em 0;
  letter-spacing: -0.02em;
  margin: auto;
}

.header ul {
  display: flex;
  /* 左右を軸に右から始める */
  justify-content: flex-end;
  /* 上下の真ん中を揃える */
  align-items: center;
  list-style: none;
  padding: 0;
}

.navItems {
  padding: 0 10px;
}

.themeChanger {
  margin-right: auto;
  padding: 0;
}

.header :global(a) {
  color: var(--color-accents-4);
  font-weight: 400;
  text-decoration: underline;
}

.header div {
  display: inline-block;
}

.header :global(a.active) {
  color: var(--color-accents-1);
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 600px) {
  .header {
    padding: 0.5em 0 2em;
  }
}
