.main {
  margin: auto;
  width: 88%;
  max-width: 32rem;
}

.main ul {
  padding: 0;
  list-style: none;
}

.main li {
  display: flex;
  padding: 0;
  margin-bottom: 4px;
}

.main svg {
  margin-right: 4px;
}

.main a {
  cursor: pointer;
  font-size: 0.8rem;
}

.main p {
  color: var(--color-home-text);
  font-size: 0.8rem;
}

.divider {
  border-top: 1.6px solid #bbb;
  margin: 36px 0px;
}
