.layout img {
  margin: auto;
  max-width: 98%;
  display: block;
  height: auto;
}

.layout h1,
.layout h2 {
  text-align: center;
}
.name {
  margin-top: 0px;
  text-align: center;
}

.logo {
  height: 112px;
  display: block;
  margin: 2rem auto;
  max-width: 300px;
}

.title {
  margin-top: -8px;
  font-size: 56px;
  /* linear-gradient(to 方向, 開始色 位置の値%, 終了色 位置の値%,); */
  background-image: linear-gradient(90deg, #0b68ea 35%, #1cd5cf 65%);
  -webkit-text-fill-color: transparent;
  /* textの形にbackgroundをくり抜く */
  -webkit-background-clip: text;
  /* web-kitに対応してないブラウザで表示する色 */
  background-clip: black;
}

.divider {
  margin: auto;
  width: 88%;
  max-width: 42rem;
  border-top: 0.8px solid #eaeaea;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
